* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Nanum Myeongjo", serif;
}

#container-main {
  width: 100vw;
  height: 100vh;
}
#container-main #container-flower {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #EADEC8;
  padding: 16px 0 16px 0;
}
#container-main #container-flower #flower-border {
  width: calc(100% - 32px);
}
#container-main #container-flower #container-flower-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#container-main #container-flower #container-flower-text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 18px;
}
#container-main #container-flower #container-flower-text #name-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
#container-main #container-flower #container-flower-text .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  height: 30px;
}
#container-main #container-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
#container-main #container-comments {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}
#container-main #container-comments .container-comment {
  display: flex;
  flex-direction: column;
}
#container-main #container-comments .container-comment .container-comment-top {
  display: flex;
  flex-direction: row;
}
#container-main #container-comments .container-comment .container-comment-top .container-comment-author {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
#container-main #container-comments .container-comment .container-comment-top .container-comment-author .text-author {
  font-weight: bold;
  font-size: 18px;
}
#container-main #container-comments .container-comment .container-comment-top .container-comment-created-at {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
#container-main #container-comments .container-comment .container-comment-top .container-comment-created-at .text-created-at {
  font-weight: lighter;
  font-size: 18px;
}
#container-main #container-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 16px;
  overflow: hidden;
}
#container-main #container-map #map {
  width: 100%;
  height: 400px;
  background-color: azure;
}
#container-main #container-selected-comment {
  padding: 16px;
}
#container-main #container-selected-comment #selected-comment-content {
  width: 100%;
}
#container-main .container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#container-main .container-loader .loader {
  max-height: 150px;
}
#container-main .container-loaded {
  width: 100%;
  float: left;
}
#container-main .container-loaded #container-thumbnails {
  margin-top: 16px;
  padding-right: calc(5vw - 6px);
  padding-left: calc(5vw - 6px);
}
#container-main .container-loaded #container-thumbnails .thumbnail {
  width: 30vw;
  height: 30vw;
  float: left;
  margin-bottom: 8px;
  margin-left: 4px;
}
#container-main .container-loaded #container-thumbnails .thumbnail-selected {
  width: 30vw;
  height: 30vw;
  float: left;
  margin-bottom: 8px;
  margin-left: 4px;
  outline: 2px outset pink;
}

/*# sourceMappingURL=styles.css.map */
