@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-start {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
@mixin flex-end {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Nanum Myeongjo', serif;
}
#cont-main {
    $icon-size: 25px;
    .visible { display: block; }
    .invisible { display: none; }
    width: 100vw;
    height: 100vh;
    #cont-flower {
        width: 100%;
        position: relative;
        text-align: center;
        background-color: #EADEC8;
        padding: 16px 0 16px 0;
    }
}
