@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-start {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
@mixin flex-end {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Nanum Myeongjo', serif;
}
#cont-main {
    $icon-size: 25px;
    .visible { display: block; }
    .invisible { display: none; }
    width: 100vw;
    height: 100vh;
    #cont-flower {
        width: 100%;
        position: relative;
        text-align: center;
        background-color: #EADEC8;
        padding: 16px 0 16px 0;
        #flower-border {
            width: calc(100% - 32px);
        }
        #cont-flower-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .name {
                @include flex-center;
                width: 100%;
                height: 50px;
                font-size: 18px;
            }
            #name-spacer {
                @include flex-center;
                width: 100%;
                height: 30px;
            }
            .subtitle {
                @include flex-center;
                width: 100%;
                font-size: 12px;
                height: 30px;
            }
        }
    }
    #cont-selected {
        @include flex-col;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        #cont-selected-close {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 50px;
            #cont-selected-close-in {
                @include flex-center;
                margin-top: 16px;
                margin-right: 8px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(241,241,246, 0.8);
                .cont-selected-close-icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        #options-spacer {
            flex-grow: 1;
        }
        #options-bar {
            @include flex-row;
            width: 100%;
            height: 75px;
            background-color: rgba(0, 0, 0, 0.8);
            .cont-opt {
                @include flex-center;
                flex: 1;
                z-index: 999;
                .cont-opt-icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    #cont-comments {
        width: 100%;
        float: left;
        @include flex-col;
        .cont-comment {
            @include flex-col;
            margin-bottom: 16px;
            padding: 0 16px 0 16px;
            .cont-cmt-btm {
                font-size: 14px;
            }
            .cont-cmt-top {
                @include flex-row;
                margin-bottom: 8px;
                .cont-cmt-author {
                    @include flex-start;
                    .text-author {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
                .cont-cmt-created-at {
                    @include flex-start;
                    .text-created-at {
                        font-weight: lighter;
                        font-size: 14px;
                        color: #bbded6;
                    }
                }
                .cont-cmt-delete {
                    @include flex-end;
                    width: $icon-size;
                    .icon-delete {
                        width: $icon-size;
                        height: $icon-size;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #cont-map {
        @include flex-center;
        height: 300px;
        padding: 16px;
        overflow: hidden;
        #map {
            width: 100%;
            height: 400px;
            background-color: azure;
        }
    }
    #cont-selected-comment {
        padding: 16px;
        #selected-cmt-content {
            width: 100%;
        }
    }
    .cont-loader {
        @include flex-center;
        width: 100%;
        .loader {
            max-height: 150px;
        }
    }
    .cont-loaded {
        width: 100%;
        float: left;
        #cont-thumbnails {
            $thumb-width: 30vw;
            $thumb-pad: calc(5vw - 6px);
            $thumb-margin: 3px;
            margin-top: 16px;
            padding-right: $thumb-pad;
            padding-left: $thumb-pad;
            .thumbnail {
                width: $thumb-width;
                height: $thumb-width;
                float: left;
                margin-bottom: $thumb-margin;
                margin-left: $thumb-margin;
            }
            .thumbnail-selected {
                width: $thumb-width;
                height: $thumb-width;
                float: left;
                margin-bottom: 8px;
                margin-left: 4px;
                outline: 2px outset pink;
            }
        }
    }
}
