* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Nanum Myeongjo", serif;
}

#cont-main {
  width: 100vw;
  height: 100vh;
}
#cont-main .visible {
  display: block;
}
#cont-main .invisible {
  display: none;
}
#cont-main #cont-flower {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #EADEC8;
  padding: 16px 0 16px 0;
}
#cont-main #cont-flower #flower-border {
  width: calc(100% - 32px);
}
#cont-main #cont-flower #cont-flower-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#cont-main #cont-flower #cont-flower-text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 18px;
}
#cont-main #cont-flower #cont-flower-text #name-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
#cont-main #cont-flower #cont-flower-text .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  height: 30px;
}
#cont-main #cont-selected {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#cont-main #cont-selected #cont-selected-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
}
#cont-main #cont-selected #cont-selected-close #cont-selected-close-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(241, 241, 246, 0.8);
}
#cont-main #cont-selected #cont-selected-close #cont-selected-close-in .cont-selected-close-icon {
  width: 30px;
  height: 30px;
}
#cont-main #cont-selected #options-spacer {
  flex-grow: 1;
}
#cont-main #cont-selected #options-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.8);
}
#cont-main #cont-selected #options-bar .cont-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 999;
}
#cont-main #cont-selected #options-bar .cont-opt .cont-opt-icon {
  width: 30px;
  height: 30px;
}
#cont-main #cont-comments {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}
#cont-main #cont-comments .cont-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 0 16px 0 16px;
}
#cont-main #cont-comments .cont-comment .cont-cmt-btm {
  font-size: 14px;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top .cont-cmt-author {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top .cont-cmt-author .text-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top .cont-cmt-created-at {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top .cont-cmt-created-at .text-created-at {
  font-weight: lighter;
  font-size: 14px;
  color: #bbded6;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top .cont-cmt-delete {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: 25px;
}
#cont-main #cont-comments .cont-comment .cont-cmt-top .cont-cmt-delete .icon-delete {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#cont-main #cont-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 16px;
  overflow: hidden;
}
#cont-main #cont-map #map {
  width: 100%;
  height: 400px;
  background-color: azure;
}
#cont-main #cont-selected-comment {
  padding: 16px;
}
#cont-main #cont-selected-comment #selected-cmt-content {
  width: 100%;
}
#cont-main .cont-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#cont-main .cont-loader .loader {
  max-height: 150px;
}
#cont-main .cont-loaded {
  width: 100%;
  float: left;
}
#cont-main .cont-loaded #cont-thumbnails {
  margin-top: 16px;
  padding-right: calc(5vw - 6px);
  padding-left: calc(5vw - 6px);
}
#cont-main .cont-loaded #cont-thumbnails .thumbnail {
  width: 30vw;
  height: 30vw;
  float: left;
  margin-bottom: 3px;
  margin-left: 3px;
}
#cont-main .cont-loaded #cont-thumbnails .thumbnail-selected {
  width: 30vw;
  height: 30vw;
  float: left;
  margin-bottom: 8px;
  margin-left: 4px;
  outline: 2px outset pink;
}

/*# sourceMappingURL=styles.css.map */
